

#renderer_container {
    max-width: 100vw;
    height: 100vh;
    padding: 0em;
    overflow: hidden;
}

#renderer_div {
    padding: 0px;
    width: 100%;
    height: 100%;
}

#renderer {
    display: inline-block;
    margin: auto;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-crisp-edges;
    image-rendering: pixelated;
    image-rendering: crisp-edges;
}



#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
#inner-message {
    margin: 0 auto;
}


#error_div {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 600px;
    height: 100px;
    margin-left: -300px;
    text-align: center;
    display:inline-block;

}​

@font-face {
    font-family: 'GameOver'; /*a name to be used later*/
    src: url('{{ site.baseurl }}/game_over.ttf'); /*URL to font*/
}


/* generic elements */
html, body{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color:#222;
    font-size: 20px;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px transparent; 
    border-radius: 0px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: transparent; 
    border-radius: 0px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: transparent; 
  }

